

h1,h2,h3,h4,h5{
    font-family: 'Raleway', sans-serif;
}
h1{
   margin-top: auto;
}
h3{
    margin-left: 15px;
}
img{
    
    border-radius: 50%;
    width: 120px;
    margin-top: 40px;
    box-shadow: -1px 2px 40px rgb(0, 0, 0);
    
    
    
}
img:hover{
    cursor: zoom-in;
    
    
}
.zoom {
    height:200px;
    }
   
    .zoom img:hover {
    width:200px;
    height:200px;
    }
.page{
    background-color:#782221  ;
    width: 70%;
    margin: auto;
    box-shadow: 30px 0px 40px rgb(196, 196, 196),-30px 0px 40px rgb(196, 196, 196);
    max-width: 1160px;
    border:solid black;
    font-family: 'Raleway', sans-serif;
    
}
.section1{
    text-align: center;  
    color: white; 
    Text-decoration: none;
}



.header{
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-between;
    background-color: #2c1d27;
    padding: 5px;
    Text-decoration: none
}
a:hover{
    
    text-decoration: underline  ;
}
a{
    text-decoration: none;
    color: white;
}

    

.mail{
   margin-left:-10%;
}
.container{
    display: flex;
}
.container-left{
    flex: 1;
    text-align: left;
    padding-left: 15px;
    color: rgb(255, 255, 255);
}
.deco{
    box-sizing: content-box;
    margin-left: -15px;
    width: 250px;
    background-color: #dbc2a4;
    color: black;
}
.container-right{
    background-color: white;
    flex: 2;
    text-align: left;
    padding-left: 15px;
    color: black;
}
.decoo{
    box-sizing: content-box;
   
    width: 665px;
    background-color: #dbc2a4;
    color: black;

}

#logo:hover{
    opacity: 0.6;
}
.logo{
   display: flex;
    margin-left: 40%;
    margin-top: 15px;
    
    
}
#linkedin a:hover{
    opacity: 0.6;
}
#twitter a:hover{
    opacity: 0.6;
}
#github a:hover{
    opacity: 0.6;
}

.dernier{
    margin-top: -10px;
    text-align: left;
    margin-left: 33%;

}
